*{
    margin: 0;
    padding: 0;
  }

  .container2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
  }
  .div{
    height: 300px;
    width: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #0011f9, #2f63ff);
    color: white;
    margin: 100px 0;
    border-radius: 7px;
  }
  .container3{
    text-align: left;
    width: 100%;
    flex-direction: column;
    font-family: BRCobane-Medium;
    color: #010101;
    font-size: calc(10px + 1.5vw);
    font-weight: 300;
    line-height: 1.2;

  }

  .container4{
    text-align: left;
    width: 100%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #010101;
    font-weight: 300;
    line-height: 1.2;

  }

  .container5{
    text-align: left;
    -webkit-text-size-adjust: 3rem;
    width: 100%;
    flex-direction: column;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #010101;
    line-height: 1.2;

  }

  .containerx {
    background: #1E4CF1;
    color: #ffffff;
    position:relative;
    height:700px;
    width:100%;
    margin: auto;
    z-index: index 2;
  }

  .containerp {
    background-image: url(../blueMedium.png);
    background-size:100% auto;
    background-repeat: no-repeat;
    color: #ffffff;
    position:relative;
    height:700px;
    width:100%;
    margin: auto;
    z-index: index 2;
  }





  .container6{
    text-align: left;
    width: 100%;
    flex-direction: column;
    font-family: BRcobane-Medium;
    font-weight: 400;
    line-height: 1.2;
    border-radius: 15px 50px 30px;

  }

  svg path {
    stroke-width: 0.4px;
  }

  .py-x {
    padding-top: 0.5rem!important;
    padding-bottom: 0.5rem!important;
}


.containerY {
  background-image: url(./ContainerY.png);
  background-size:100% auto;
  background-repeat: repeat;
  height:38px;
  width:424px;
  margin: auto;
  z-index: index 2;
}