
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');




/* Dropdown Button From WEB Still editing */ 

.piv {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.2);
    height: 300px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #1cd8d2, #93edc7);
    color: white;
    margin: 100px 0;
    border-radius: 7px;
    }


.dropdown:hover > .dropdown-menu {
  display: block;visibility: visible;opacity:1;transform: translateY(0px);transition:.3s ease all;
}

.dropdown-menu  {display: block;visibility: hidden;opacity:0;transform: translateY(30px);transition:.3s ease all;}

.dropdown-item {
  display: block;
  width: 100%;
  padding-top: 2px;
  padding-bottom: 2px;
  clear: both;
  font-weight: 400;
  color: #000000;
  text-align: inherit;
  white-space: nowrap;
  border: 0;
}

.dropdown-item > a:hover {
  display: block;
  width: 100%;
  padding: .25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #000000;
  text-align: inherit;
  white-space: nowrap;
  background-color: #0055FF;
  border: 0;
}


.navbar-nav{
  background-color: #000000;
  padding-top: 1px;
    background-color: rgba(255, 255, 255, 0);
  border-bottom: 1px solid rgba(255, 255, 255, 0.068);
  width: 100%;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  
}

.nav-item > a:hover {
  color: rgb(0, 0, 0);
  color: #000000;


}

.h5{ 
 color: #000;
 margin-right: 2rem;
 


}
.bg-light {
  --bs-bg-opacity: 0;
}
/* For codepen card tester */ 


/* For codepen card tester */ 

.dropdown-menu>li>a:hover  {
  color: rgb(255, 255, 255);
  background-color: #0055ffed;
}

@font-face {
  font-family: BRCobane-Medium;
  src:url(./BRCobane-Medium.woff);
  
}

@font-face {
  font-family: Poppins-Medium;
  src: url(Poppins-Medium.ttf);
}
/* Dropdown Button From WEB Still editing */ 

.ml-5 {
  margin-left: 3rem !important;
}

.img-fluid
{ 
  min-width: 210px !important;
  max-width: 70%;
  height: auto;

}
.textiframe-fluid /* Not currenlty in use   */ 
{ 
  min-width: 210px !important;
  max-width: 70%;
  height: auto;

}
.circle {
  height: 50px;
  width: 50px;
  background-color: rgb(0, 25, 246);
  border-radius: 50%;
  display: flex;
  justify-content: center;
}
.rectangleTop {
  height: 50px;
  width: 100px;
  background-color: rgb(255, 255, 255,);
}
body{
  background-image: url(../blueMedium.png);
  background-size:100% auto;
  background-repeat: no-repeat;
  height: 100%;
  width: 100%;
  margin: 0;
  display: table;
}

footer {
  display: table-row;
}


/* TEST TEST TEST  */ 


html {
  height: 100%;
  overflow-x: hidden;
}
body {
  position: relative;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper
{
  position: relative;
  overflow: auto;
}


footer{
right: 0;
position: fixed;
bottom: 0;
left: 0;
padding: 0rem;
background-color: rgba(255, 255, 255, 0.779);
width: 100%;
backdrop-filter: blur(5px);
-webkit-backdrop-filter: blur(5px);
}

.pblocktext {
  margin-left: auto;
  margin-right: auto;
  width: 8em
}

/* TEST TEST TEST  */ 

/* Mobile devices (including iPad portrait, 992px and below) */
 /* @media (max-width: 1172px) {
  .container, .container-sm  .container-md{
    min-width: 375px !important;
  }
}
*/
@media (min-width: 992px) { 
.container, .container-lg, .container-md, .container-sm {
    min-width: 1172px;
}
  
} 
@media (min-width: 768px) { 
.container, .container-md, .container-sm {
    max-width: 92%;
}
} 
@media (min-width: 576px){
.container, .container-sm {
    min-width: 92%;
}
}

/* Mobile devices (including iPad portrait, 992px and below) */

/*Hamburger menu to CSS page*/ 

#menu__toggle {
  opacity: 0;
}
#menu__toggle:checked + .menu__btn > span {
  transform: rotate(45deg);
}
#menu__toggle:checked + .menu__btn > span::before {
  top: 0;
  transform: rotate(0deg);
}
#menu__toggle:checked + .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
#menu__toggle:checked ~ .menu__box {
  left: 0 !important;
}
.menu__btn {
  position: fixed;
  top: 40px;
  left: 30px;
  width: 26px;
  height: 26px;
  cursor: pointer;
  z-index: 99;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #1B3EB3;
  transition-duration: .25s;
}
/* Top bar of hamburger menu positioning?  */ 
.menu__btn > span::before {
  content: '';
  top: -8px;

/* bottom bar of hamburger menu positioning?  */ 
}
.menu__btn > span::after {
  content: '';
  top: 8px;
 

}
.menu__box {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 80px 0;
  list-style: none;
  background-color: #ffffff;
  transition-duration: .35s;
  box-shadow: rgb(0 0 0 / 30%) 0 1px 3px;
  border-radius: 0px;
  border-color: #000000;
  border-width: 2px;
  z-index: 1;
}


.menu__item {
  display: block;
  margin-left: auto; 
  margin-right: auto;
  padding: 12px 20px;
  color: rgb(0, 0, 0);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 500;
  font-size: 27px;
  text-decoration: none;
  transition-duration: .25s;
  --bs-link-hover-color: #1e00ff; /* new local variable */
}
/*Hamburger menu to CSS page*/ 

.m-2 { 
  margin-top: 0rem!important; /* new local variable */
  margin: 0.5rem!important; /* new local variable */
}

a:link { text-decoration: none; }


a:visited { text-decoration: none; }


a:hover { text-decoration: none; }


a:active { text-decoration: none; }

.section{
display: grid;
place-items: center;
align-content:center;
min-height: 100vh
}


.hidden {
  opacity: 0;
  transition: all 1s;
  }
  .show {
  opacity: 1;
  }

.display-88  {
font-family: BRCobane-Medium;
src:url(./BRCobane-Medium.woff);
    font-size: 3rem;
    font-weight: medium;
    font-family: BRCobane-Medium;
   src:url(./BRCobane-Medium.woff);
    color: #000000 !important;
    text-align: left;
    padding-left: 20.5px;
    margin-top: 0px;
  }

.border200{
  border: 2px solid #027cff;
  margin: 2px;
}

.border300{
  border: 2px solid #000000;
  margin: 2px;
}

  .rounded-full {
    border-radius: 9999px;
}
a {
  color: #0038ee;
  
}

a:hover {
  color: #1e69ff;
  
}


 @import "../node_modules/bootstrap/scss/variables";
 @import "../node_modules/bootstrap/scss/maps";
 @import "../node_modules/bootstrap/scss/mixins";
 @import "../node_modules/bootstrap/scss/root";
 @import "../node_modules/bootstrap/scss/utilities";
 @import "../node_modules/bootstrap/scss/reboot";
 @import "../node_modules/bootstrap/scss/containers";
 @import "../node_modules/bootstrap/scss/grid";
 @import "../node_modules/bootstrap/scss/helpers";
 @import "../node_modules/bootstrap/scss/utilities/api";

